@font-face {
	font-family: "lato";
	font-style: normal;
	font-stretch: normal;
	font-weight: 400;
	src: local("Lato"), url("../fonts/LatoLatin-Regular.woff") format("woff");
}
@font-face {
	font-family: "lato";
	font-style: italic;
	font-stretch: normal;
	font-weight: 400;
	src: local("Lato"), url("../fonts/LatoLatin-Italic.woff") format("woff");
}
@font-face {
	font-family: "lato";
	font-style: normal;
	font-stretch: normal;
	font-weight: 700;
	src: local("Lato"), url("../fonts/LatoLatin-Bold.woff") format("woff");
}
@font-face {
	font-family: "lato";
	font-style: italic;
	font-stretch: normal;
	font-weight: 700;
	src: local("Lato"), url("../fonts/LatoLatin-BoldItalic.woff") format("woff");
}

.d3-planet-item {
	margin: 0px;
	margin-left: 5px;
	padding: 0 0 0 25px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 14px;
	background-image: url('../images/bullet.png');
}

.d3-planet-title-image {
    width:100%; 
    max-width:640px
    display:block;
}

.d3-planet-title-text {
    text-transform: uppercase; 
    letter-spacing: 1px; 
    font-weight:bolder; 
    font-family: lato, Helvetica, Arial, sans-serif; 
    font-size:20px;
}
.d3-planet-home-image {
    background-image: none;
    padding: 0;
    font-size:smaller;
    margin-top:0.5em;
    color:silver;
    text-align:center;
}
.d3-planet-home-image a {
color:silver;
}
.d3-planet-home-text {
    font-family: lato, Helvetica, Arial, sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    font-weight:bolder; 
}